<a href="https://colab.research.google.com/github/deveshkumawat258/pythonwork/blob/main/ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter the number:"))
i=1
while(i<n+1):
  print("natural numbers are:",i)
  i+=1

enter the number:1
natural numbers are: 1

In [ ]:
n=int(input("Enter the number:"))
while(n>=1):
  print(n)
  n-=1

Enter the number:20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:

char='A'
while(char<='Z'):
  print(char)
  char=chr(ord(char)+1)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [ ]:
a=2
while(a<100):
  print(a)
  a+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
n=int(input("enter the number:"))
a=1
sum=0
while(a<=n):
  if(a%2!=0):
    sum=sum+a
  a+=1
print(sum," is the sum of all odd numbers in between")

enter the number:2375
1411344  is the sum of all odd numbers in between

In [ ]:
#count digits
n=int(input("Enter any number "))
a=0
while(n!=0):
  n//=10
  a+=1
print(a)

Enter any number 1434274
7

In [ ]:
#sum of digits of number
n=int(input("Enter any number "))
a=0
while(n!=0):
  a+=n%10
  n//=10
print(a)

Enter any number 5264383
3
8
3
4
6
2
5

In [ ]:
#PRINT 1st and last digit
n=int(input("Enter any number "))
f=n%10
while(n>=10):
  n//=10
print(n,f)
print(n+f)

Enter any number 23323
2 3
5

In [ ]:
#sum of digits of number reverse
n=int(input("Enter any number "))
a=0
while(n!=0):
  a=a*10+n%10
  n//=10
print(a)

Enter any number 5647
7465

In [ ]:
#to find the power of a number using for loop
base = int(input("Enter base: "))
exponent = int(input("Enter exponent: "))
result = 1
for _ in range(exponent):
    result *= base
print("Power:", result)

In [ ]:
num = int(input("Enter number: "))
for i in range(1, num + 1):
    if num % i == 0:
        print(i, end=" ")

Enter number: 18
1 2 3 6 9 18

In [ ]:
num = int(input("Enter number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial:", factorial)