<a href="https://colab.research.google.com/github/deveshkumawat258/pythonwork/blob/main/DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string indexing and slicing
#python allow data access from both side lhs or rhs
a="RAJASTHAN"
# 0,1,2,3 .....(+ve index)
#-4,-3,-2,-(-ve index)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[-2])
print(a[-1])

R
A
J
A
S
T
H
A
N

In [ ]:
#pyhton allows us to access data based on the index position
#start:stop:[step=1]   (stop value is not included in this )
a="DEVESH"
print(a[1:3])

EV

In [ ]:
#if i use colon then it will print complete data
print(a[3:])
print(a[:4])
print(a[0:5:2])
print(a[1:5:-1]) #will show no output because step size not in range it is -1
print(a[-1:-4:-1])# should give -ve steping to add in negative index
print(a[-4:-1:1])#-4+1=-3 in range
print(a[-4:-1:-1])#it will not run because -4-1=-5 not in range

ESH
DEVE
DVS

HSE
VES

In [ ]:
#looping - used to perform repeatative task
for i in range(1,5):
  print(i)
for i in range(1,9,2):
  print(i)

1
2
3
4
1
3
5
7

In [ ]:
for i in range (9,1,-1):
  print("gandu",i)

gandu 9
gandu 8
gandu 7
gandu 6
gandu 5
gandu 4
gandu 3
gandu 2

In [ ]:
total=0
for i in range(1,6):
  total=total+i
  print("dev",i,total)

dev 1 1
dev 2 3
dev 3 6
dev 4 10
dev 5 15

In [ ]:
z=0
a=int(input("enter number "))
for i in range(1,a+1):
  if(a%i==0):
    z+=1
print("total factors are ",z)
if(z<=2):
  print("this is a prime number  ")
else:
  print("not a prime number")

enter number 28
total factors are  6
not a prime number

In [ ]:
total=0
for i in range(97,57,-1):
  if(i%2==0):
    print(i)
    total=total+i
print ("Total of all even numbers :",total)

96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
Total of all even numbers : 1540

In [ ]:
#while loop
i=1
while(i<10):
  print("value of i is :",i)
  i+=1

value of i is : 1
value of i is : 2
value of i is : 3
value of i is : 4
value of i is : 5
value of i is : 6
value of i is : 7
value of i is : 8
value of i is : 9