<a href="https://colab.research.google.com/github/deveshkumawat258/pythonwork/blob/main/DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 1

In [ ]:

x=1000 #variable assignment
print (x,type(x))
p='400'
print(p,type(p))

name='devesh'
print(name)
print(f"my name is {name}") #python formatting
naam="kaalu"
print("your name is {} ".format(naam))

1000 <class 'int'>
400 <class 'str'>
devesh
my name is devesh
your name is kaalu

In [ ]:
#operators
#1 arithematic
# +-/*//
20/2

10.0

In [ ]:
20//2# floor division

10

In [ ]:
13//5

2

In [ ]:
11%5#modulus

1

In [ ]:
2**3 #power

8

In [ ]:
2**3**4 #it means 2 to the power 3 to the power 4

2417851639229258349412352

In [ ]:
#comparison operator answers only true or false

In [ ]:
#asignment operator =
x=5
x+=10
print(x)

15

In [ ]:
#logical operator
#used to combine multiple condition
10>9 and 10>8 #and works when both condition true

True

In [ ]:
# or works when any one is true
8<10 or  8>10

True

In [ ]:
#conditional satetments
if(true):
  print("namaste")

  #if condition is given then it is imp to write something

In [ ]:
if(false):
  print("jai ho")
else:
  print("false condition")
print("namaste!!!")

In [ ]:
x=100
if(x>99):
  print("x is greater ")
else:
  print("x is smaller ")

x is greater

In [ ]:
x=12
if(x%2==0 and x%3==0):
  print("x is divisible by both 2 and 3 ")
else:
  print("x is not divisible by 2 and 3 ")

x is divisible by both

In [ ]:
age=13
if(age%2==0):
  print("divisible by 2")
elif(age%3==0):
  print("divisible by 3 ")
else:
  print("not divisible by both")

not divisible by both