<a href="https://colab.research.google.com/github/deveshkumawat258/pythonwork/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 1

In [ ]:

x=1000 #variable assignment
print (x,type(x))
p='400'
print(p,type(p))

name='devesh'
print(name)
print(f"my name is {name}") #python formatting
naam="kaalu"
print("your name is {} ".format(naam))

1000 <class 'int'>
400 <class 'str'>
devesh
my name is devesh
your name is kaalu

In [ ]:
#operators
#1 arithematic
# +-/*//
20/2

10.0

In [ ]:
20//2# floor division

10

In [ ]:
13//5

2

In [ ]:
11%5#modulus

1

In [ ]:
2**3 #power

8

In [ ]:
2**3**4 #it means 2 to the power 3 to the power 4

2417851639229258349412352

In [ ]:
#comparison operator answers only true or false

In [ ]:
#asignment operator =
x=5
x+=10
print(x)

15

In [ ]:
#logical operator
#used to combine multiple condition
10>9 and 10>8 #and works when both condition true

True

In [ ]:
# or works when any one is true
8<10 or  8>10

True

In [ ]:
#conditional satetments
if(true):
  print("namaste")

  #if condition is given then it is imp to write something

In [ ]:
if(false):
  print("jai ho")
else:
  print("false condition")
print("namaste!!!")

In [ ]:
x=100
if(x>99):
  print("x is greater ")
else:
  print("x is smaller ")

x is greater

In [ ]:
x=12
if(x%2==0 and x%3==0):
  print("x is divisible by both 2 and 3 ")
else:
  print("x is not divisible by 2 and 3 ")

x is divisible by both

In [ ]:
age=13
if(age%2==0):
  print("divisible by 2")
elif(age%3==0):
  print("divisible by 3 ")
else:
  print("not divisible by both")

not divisible by both

ASSIGNMENT 1

In [ ]:
#question 1
#even or odd
x =int(input("Enter a number: "))
if(x%2==0):
  print("x is an even number ")
elif(x%2==1):
  print("x is an odd number ")

Enter a number: 12
x is an even number

In [ ]:
#question 2
#largest of three
x= int(input("enter 1st number:"))
y= int(input("enter 2nd number:"))
z= int(input("enter 3rd number:"))
if(x>y and x>z):
  print("x is largest:", x)
elif(y>x and y>z):
  print("y is largest:", y)
else:
  print("z is largest:", z)

enter 1st number:2
enter 2nd number:10
enter 3rd number:1
y is largest: 10

In [ ]:
# question 3
# leap year
x= int(input("enter an year:"))
if(x%4==0 and x%100!=0 )or (x%400==0):
  print(x, "is a leap year")
else:
  print(x, "is not a leap year")

enter an year:2020
2020 is a leap year

In [ ]:
#question 4
x=int(input("enter the percentage:"))
if(x>100):
  print("Enter valid percentage:")
elif(x>=90):
  print("Grade A")
elif(x>=80 and x<=90):
  print("Grade B")
elif(x>=70 and x<=80):
  print("Grade C")
elif(x>=60 and x<=70):
  print("Grade D")
else:
  print("Grade F")

enter the percentage:89
Grade B

In [ ]:
#question 5
#vowel or consonent
letter=input("enter a letter:" )
if(letter=="a" ):
  print(letter, " is vowel")
elif(letter=="e" ):
  print(letter, " is vowel")
elif(letter=="i" ):
  print(letter, " is vowel")
elif(letter=="o" ):
  print(letter, " is vowel")
elif(letter=="u" ):
  print(letter, " is vowel")
else:
  print(letter, "is consonant")

enter a letter:l
l is consonant

In [ ]:
#question6
#calculator
num1=float(input("enter first number: "))
operator=input("enter an operator(+,-,/,*):")
num2=float(input("enter 2nd number:"))
if(operator=='+'):
  print(num1+num2)
elif(operator=='-'):
  print(num1-num2)
elif(operator=='*'):
  print(num1*num2)
elif(operator=='/'):
  print(num1/num2)

enter first number: 12
enter an operator(+,-,/,*):*
enter 2nd number:45
540.0

In [ ]:
#question 7
#positive or negative
number=int(input("enter the number:"))
if(number>0):
  print("number is positive")
elif(number<0):
  print("number is negative")
elif(number==0):
  print("number is zero")

enter the number:-9
number is negative

In [ ]:
#question 8
#password and username
usnm="admin"
pwd="1234"
username=input("enter the username:")
password=input("Enter the password:")
if(username==usnm and password==pwd):
  print("Login Successful!")
else:
  print("Login Failed!")

enter the username:devesh
Enter the password:234
Login Failed!

In [ ]:
#question 9
#valid triangle
print("Enter the three sides of triangle:")
a=int(input("Side 1:"))
b=int(input("Side 2:"))
c=int(input("Side 3:"))
if(a+b>c or b+c>a or c+a>b):
  print("The triangle is valid ")
else:
  print("invalid triangle")

Enter the three sides of triangle:
Side 1:2
Side 2:4
Side 3:6
The triangle is valid

In [ ]:
#question 10
#BMI
print("Enter your weight and height for BMI")
weight=float(input("Enter weight(kg):"))
height=float(input("Enter Height(m)"))
BMI=weight/(height**2)
if(BMI<18.5):
  print("Underweight")
elif(18.5<=BMI<25):
  print("Normal weight")
elif(25<=BMI<30):
  print("Overweight")
elif(BMI>=30):
  print("Obesity")
print("BMI is ",BMI)

Enter your weight and height for BMI
Enter weight(kg):90
Enter Height(m)2.3
Underweight
BMI is  17.013232514177698

In [ ]:
#question 11
#discount
price=float(input("Enter the price of the product:"))
if(price>=1000):
  discount=(price*10)/100
  print("discount is 10%:" ,discount)
  print("Final price is:",price-discount)
elif(500<=price<1000):
  discount=(price*5)/100
  print("discount is 10%:" ,discount)
  print("Final price is:",price-discount)
else:
  print("no discount!!")

Enter the price of the product:596895.8377
discount is 10%: 59689.583770000005
Final price is: 537206.25393

In [ ]:
#question 12
#print days in month
month=input("enter the name of the month:")
if(month=='january' or month=='march'or month=='may'or month=='july'or month=='august'or month=='december'):
  print("The no. of days in month are 31")
elif(month=='april'or month=='june'or month=='september'or month=='november'):
  print("No. of days in month are 30")
elif(month=='february'):
  print("No. of days are 29")

enter the name of the month:june
No. of days in month are 30

In [ ]:
#question13
#ATM
balance=1000
print(" 1.Check balance 2.Deposit money 3.Withdraw money")
choice=int(input("Enter the choice(1,2,3)"))
if(choice==1):
  print("balance is: ",balance)
elif(choice==2):
  ADD=float(input("Enter the money to be added:"))
  balance+=ADD
  print("Updated balance is ",balance)
elif(choice==3):

  WTH=float(input("Enter the money to withdraw:"))
  if(balance-WTH>=0):
    balance-=WTH
    print("Updated balance is ",balance)
  else:
    print("Insufficient Ammount. Try again")

 1.Check balance 2.Deposit money 3.Withdraw money
Enter the choice(1,2,3)2
Enter the money to be added:2000
Updated balance is  3000.0

In [ ]:

#question 14
age=int(input("Enter the age "))
if(0<=age<=1):
  print("infant")
elif(2<=age<=4):
  print("Toddler")
elif(5<=age<=12):
  print("child")
elif(13<=age<=19):
  print("teenager")
elif(20<=age<=59):
  print("Adult")
elif(60<=age):
  print("senior")

Enter the age 38
Adult

In [ ]:
#question15
#name of the day
day=int(input("Enter the number of the day:",))
if(day==1):
  print("Monday")
elif(day==2):
  print("Tuesday")
elif(day==3):
  print("Wednesday")
elif(day==4):
  print("Thursday")
elif(day==5):
  print("Friday")
elif(day==6):
  print("Saturday")
elif(day==7):
  print("Sunday")
else:
  print("invalid input!!")

Enter the number of the day:8
invalid input!!

In [ ]:
num=int(input("enter number "))
if(num%2==0):
  if(num%3==0):
    print("number is divisible by 6")
  else:
    print("number is divisible by 2")
else:
  print("number is not divisible by 2")

enter number 13
number is not divisible by 2

DAY 2

In [ ]:
#string indexing and slicing
#python allow data access from both side lhs or rhs
a="RAJASTHAN"
# 0,1,2,3 .....(+ve index)
#-4,-3,-2,-(-ve index)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[-2])
print(a[-1])

R
A
J
A
S
T
H
A
N

In [ ]:
#pyhton allows us to access data based on the index position
#start:stop:[step=1]   (stop value is not included in this )
a="DEVESH"
print(a[1:3])

EV

In [ ]:
#if i use colon then it will print complete data
print(a[3:])
print(a[:4])
print(a[0:5:2])
print(a[1:5:-1]) #will show no output because step size not in range it is -1
print(a[-1:-4:-1])# should give -ve steping to add in negative index
print(a[-4:-1:1])#-4+1=-3 in range
print(a[-4:-1:-1])#it will not run because -4-1=-5 not in range

ESH
DEVE
DVS

HSE
VES

In [ ]:
#looping - used to perform repeatative task
for i in range(1,5):
  print(i)
for i in range(1,9,2):
  print(i)

1
2
3
4
1
3
5
7

In [ ]:
for i in range (9,1,-1):
  print("gandu",i)

gandu 9
gandu 8
gandu 7
gandu 6
gandu 5
gandu 4
gandu 3
gandu 2

In [ ]:
total=0
for i in range(1,6):
  total=total+i
  print("dev",i,total)

dev 1 1
dev 2 3
dev 3 6
dev 4 10
dev 5 15

In [ ]:
z=0
a=int(input("enter number "))
for i in range(1,a+1):
  if(a%i==0):
    z+=1
print("total factors are ",z)
if(z<=2):
  print("this is a prime number  ")
else:
  print("not a prime number")

enter number 28
total factors are  6
not a prime number

In [ ]:
total=0
for i in range(97,57,-1):
  if(i%2==0):
    print(i)
    total=total+i
print ("Total of all even numbers :",total)

96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
Total of all even numbers : 1540

In [ ]:
#while loop
i=1
while(i<10):
  print("value of i is :",i)
  i+=1

value of i is : 1
value of i is : 2
value of i is : 3
value of i is : 4
value of i is : 5
value of i is : 6
value of i is : 7
value of i is : 8
value of i is : 9

In [ ]:
n=int(input("enter the number:"))
i=1
while(i<n+1):
  print("natural numbers are:",i)
  i+=1

enter the number:1
natural numbers are: 1

In [ ]:
n=int(input("Enter the number:"))
while(n>=1):
  print(n)
  n-=1

Enter the number:20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:

char='A'
while(char<='Z'):
  print(char)
  char=chr(ord(char)+1)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [ ]:
a=2
while(a<100):
  print(a)
  a+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

ASSIGNMENT 2

In [ ]:
n=int(input("enter the number:"))
a=1
sum=0
while(a<=n):
  if(a%2!=0):
    sum=sum+a
  a+=1
print(sum," is the sum of all odd numbers in between")

enter the number:2375
1411344  is the sum of all odd numbers in between

In [ ]:
#count digits
n=int(input("Enter any number "))
a=0
while(n!=0):
  n//=10
  a+=1
print(a)

Enter any number 1434274
7

In [ ]:
#sum of digits of number
n=int(input("Enter any number "))
a=0
while(n!=0):
  a+=n%10
  n//=10
print(a)

Enter any number 5264383
3
8
3
4
6
2
5

In [ ]:
#PRINT 1st and last digit
n=int(input("Enter any number "))
f=n%10
while(n>=10):
  n//=10
print(n,f)
print(n+f)

Enter any number 23323
2 3
5

In [ ]:
#sum of digits of number reverse
n=int(input("Enter any number "))
a=0
while(n!=0):
  a=a*10+n%10
  n//=10
print(a)

Enter any number 5647
7465

In [ ]:
#to find the power of a number using for loop

In [ ]:
#to print top 30 numbers divisivble by 2 and 6
a=0
num=1
while(a<30):
  if(num%2==0 and num%6==0):
    print("number divisibl by 2 and 6 is :",num)
    a+=1
  num+=1

number divisibl by 2 and 6 is : 6
number divisibl by 2 and 6 is : 12
number divisibl by 2 and 6 is : 18
number divisibl by 2 and 6 is : 24
number divisibl by 2 and 6 is : 30
number divisibl by 2 and 6 is : 36
number divisibl by 2 and 6 is : 42
number divisibl by 2 and 6 is : 48
number divisibl by 2 and 6 is : 54
number divisibl by 2 and 6 is : 60
number divisibl by 2 and 6 is : 66
number divisibl by 2 and 6 is : 72
number divisibl by 2 and 6 is : 78
number divisibl by 2 and 6 is : 84
number divisibl by 2 and 6 is : 90
number divisibl by 2 and 6 is : 96
number divisibl by 2 and 6 is : 102
number divisibl by 2 and 6 is : 108
number divisibl by 2 and 6 is : 114
number divisibl by 2 and 6 is : 120
number divisibl by 2 and 6 is : 126
number divisibl by 2 and 6 is : 132
number divisibl by 2 and 6 is : 138
number divisibl by 2 and 6 is : 144
number divisibl by 2 and 6 is : 150
number divisibl by 2 and 6 is : 156
number divisibl by 2 and 6 is : 162
number divisibl by 2 and 6 is : 168
number divisibl by 2 and 6 is : 174
number divisibl by 2 and 6 is : 180

In [ ]:
#this is called as 2 pointer approach
#by using indicator variable
#here ind is indicator variable
data=str(input("Enter any name or number "))
start=0
ind=0
end=len(data)-1
while(start<len(data)):
  if(data[start]!=data[end]):
    print(data,"is not palindrome")
    ind=5
    break
  print(data[start],data[end])
  start+=1
  end-=1
if(ind==0):
  print(data,"is Palindrome")

Enter any name or number raja
raja is not palindrome

In [ ]:
#ASCII is unique standard
ord("A") #is used to print the ascii number of letter
chr(65)#is used to print the alphabet from ascii code

'A'

In [ ]:
# LCM of two numbers
#find largest no.
#LCM should be largest number or more than largest number
#increase by 1 untill we get the common multiplier
a=int(input("Enter 1st number:"))
b=int(input("enter 2nd number:"))
if(a>b):
  big=a
else:
  big=b
while(True):
  if(big%a==0 and big%b==0):
    print("the LCM is",big)
    break
  else:
    big+=1

Enter 1st number:12
enter 2nd number:7
the LCM is 84

In [ ]:
from os import urandom
#LIST
#list is a datatype used to store multiple values
#and all these values can be of any type
#List is a mutable datatype

urlist=[12,13,14,15,16,"dev","rajuLIC"]
print(urlist[6])

rajuLIC

In [ ]:
from typing_extensions import LiteralString
#to change the value of list
#pop deletes the data
#append adds the data in list
urlist=[12,13,14,15,16,"dev","rajuLIC"]
print(urlist[6])
urlist[3]=26
urlist.append("chaiwala")
urlist.pop()  #deletes from last
print(urlist)

rajuLIC
[12, 13, 14, 26, 16, 'dev', 'rajuLIC']

In [ ]:
l=[12,12,23,43,21] #use help to get help
print(help(l))

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

In [ ]:
#loop in list
g=["15","grand","16","father"]
for i in g:
  print(i)

15
grand
16
father

In [ ]:
hut=[1,2,3,4,5]
for i in range(0,2):
  print(i,hut[i])

0 1
1 2

In [ ]:
#to find the power of a number using for loop
a=int(input("enter a number "))
b=int(input("enter the power of the number"))
result=1
for _ in range(b):
  result=result*a
print(a,"raise to the power",b,"is:",result)

enter a number 10
enter the power of the number5
10 raise to the power 5 is: 100000

In [ ]:
#all the factors of  number
a=int(input("Enter the number:"))
b=1
for b in range(b,a+1):
  if(a%b==0):
    print(b)
    b+=1

Enter the number:46
1
2
23
46

In [ ]:
#to calculate the factorial of a number
a=int(input("enter the number:"))
b=1
for i in range(1,a+1):
  b=b*i
print(b)

enter the number:4
24

In [ ]:
#to check the number is prime or not
a=int(input("enter the number:"))
b=0

if a <= 1:
  print(a, "is not a prime number")
else:
  for i in range(1, a + 1):
    if a % i == 0:
      b += 1

  if b == 2:
    print(a, "is a prime number")
  else:
    print(a, "is not a prime number")

enter the number:29
29 is a prime number

In [ ]:
#LCM of a two numbers
a=int(input("enter the number:"))
b=int(input("enter the number:"))
if(a>b):
  big=a
else:
  big=b
while(True):
  if(big%a==0 and big%b==0):
    print(big,"is the LCM of a and b")
    break
  else:
    big+=1

enter the number:4
enter the number:18
36 is the LCM of a and b

In [ ]:
#print all prime numbers between 1 to n
a=int(input("enter the number:"))
for b in range(2,a+1):

DAY 4

In [ ]:
mylist=[10,20,30,41,57]
max=mylist[0]
for i in range(0,5):
  if(mylist[i]>max):
    max=mylist[i]
print(mylist[i],max)

57 57

In [ ]:
mylist=[10,20,30,59,50]
large=mylist[0]
seclarge=0
for i in range(0,5):
  if(mylist[i]>large):
    seclarge=large
    large=mylist[i]
  elif(mylist[i]>seclarge):
    seclarge=mylist[i]
print(seclarge,"second large number",)
print(large,"large number",)

50 second large number
59 large number

In [ ]:
#NESTED LOOP
for i in range(1,5):
  print("baccha=>",i)
  for k in range(1,i+1):
    print("copy check!!",k , end=",")
  print("")

baccha=> 1
copy check!! 1,
baccha=> 2
copy check!! 1,copy check!! 2,
baccha=> 3
copy check!! 1,copy check!! 2,copy check!! 3,
baccha=> 4
copy check!! 1,copy check!! 2,copy check!! 3,copy check!! 4,

In [ ]:
for i in range(1,5):
  print("baccha=>",i)
  for k in range(1,6-i):
    print("copy check!!",k , end=",")
  print("")

baccha=> 1
copy check!! 1,copy check!! 2,copy check!! 3,copy check!! 4,
baccha=> 2
copy check!! 1,copy check!! 2,copy check!! 3,
baccha=> 3
copy check!! 1,copy check!! 2,
baccha=> 4
copy check!! 1,

In [ ]:
for i in range (1,5):
  for j in range(1,5-i+1):
    print("*",end="")
  print()

****
***
**
*

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print(j,end="")
  print()

1234
1234
1234
1234

In [ ]:
var=1
for i in range (1,5):
  for j in range(1,i+1):
    print(var,end="")
    var+=1
  print()

1
23
456
78910

In [ ]:
var=9
for i in range (1,5):
  for j in range(1,5-i):
    print(var,end="")
    var-=1
  print()

987
65
4

In [ ]:
for i in range (1,5):
  v=ord('A')
  for j in range(1,i+1):
    print(chr(v),end="")
    v+=1
  print()

A
AB
ABC
ABCD

In [ ]:
m=[10,20,30,80]
for i in range(0,4):
  for j in range(i+1,4):

    if(m[i]+m[j]==90):
      print(m[i],m[j])
      print(m[i],"and",m[j],"is the number makes 90")
    else:
      print("no number makes 90")
  print()

no number makes 90
no number makes 90
10 80
10 and 80 is the number makes 90

no number makes 90
no number makes 90

no number makes 90

DAY 5

In [ ]:
#if we delete any element in list then it will affect every next element which leads to time taking and more process
#to avoid this we use a datatype in pyhton that is dictionary
#Dictionary
#data store key and value pair
#key- unique identifier
#value:data
#no index position "


m={0:"raj",1:"raju"}
print(m[1])

raju

In [ ]:
num={0:"me",1:"i",2:"myself"}
num[2]="tera papa" #update
num["papa"]=3   #insert
print(num)

num.pop(2)   #delete
print(num)

{0: 'me', 1: 'i', 2: 'tera papa', 'papa': 3}
{0: 'me', 1: 'i', 'papa': 3}

In [ ]:
dic={"sum":59}
dic["sum"]
dic["sum"]=dic["sum"]+7  #to add something to the dictionary
print(dic)

{'sum': 66}

In [ ]:
d={"total":0}
for i in range(45,56):
  d["total"]=d["total"]+1
print(d)

{'total': 11}

In [ ]:
j=input("")
s={"vowels":0}
for i in j:
  if(i in "aeiou"):
    print(i,"is vowel")
    s['vowels']=s["vowels"]+1
print(s)

rahul
a is vowel
u is vowel
{'vowels': 2}

In [ ]:
#enumerate is a function used to print the index as well as the value of any list or dictionary

In [ ]:
list=[2,3,4,5,6,7]
for i in enumerate(list):
  print(i,i[0],i[1])

(0, 2) 0 2
(1, 3) 1 3
(2, 4) 2 4
(3, 5) 3 5
(4, 6) 4 6
(5, 7) 5 7

In [ ]:
#KBC project
#Question => statement ,option:a,b,c,d  answer:B
Question=[
{"question":"Who is Captain Cool?",
 "option":["A.Michael Jackson","B. V.Kohli","C. Aishwarya rai","D. MS Dhoni"],
 "answer":"D"},
{"question":"Who is father of nation?",
 "option":["A. BABA Ramdev","B. Mahatma Gandhi","C. Rahul Gandhi","D. Narendra Modi ji"],
 "answer":"B"},
 {"question":"Who is GANDU?",
 "option":["A.You","B. Your college","C. Your friends","D. Your Bandi"],
 "answer":"A"}
]
for i in Question:
  print(i)

{'question': 'Who is Captain Cool?', 'option': ['A.Michael Jackson', 'B. V.Kohli', 'C. Aishwarya rai', 'D. MS Dhoni'], 'answer': 'D'}
{'question': 'Who is father of nation?', 'option': ['A. BABA Ramdev', 'B. Mahatma Gandhi', 'C. Rahul Gandhi', 'D. Narendra Modi ji'], 'answer': 'B'}
{'question': 'Who is GANDU?', 'option': ['A.You', 'B. Your college', 'C. Your friends', 'D. Your Bandi'], 'answer': 'A'}

In [ ]:
total=0
amount=[100000000,10000000000,20000000000000000]
for i,j in enumerate(Question):
  print(f"{i+1} prashna aapki screen par yeh raha {amount[i]} rupee ke liye")
  print(j["question"])
  for k in j["option"]:
    print(k)
  answerde=input("Enter the option A,B,C,D--").upper()
  if(answerde==j["answer"]):
    total+=amount[i]
    print(f"Badhai ho aapne jeet liye Rs.{total}")
  else:
    print("Galat Jawab gharpe jao")
    print("kul rashi",total)
    break

1 prashna aapki screen par yeh raha 100000000 rupee ke liye
Who is Captain Cool?
A.Michael Jackson
B. V.Kohli
C. Aishwarya rai
D. MS Dhoni
Enter the option A,B,C,D--d
Badhai ho aapne jeet liye Rs.100000000
2 prashna aapki screen par yeh raha 10000000000 rupee ke liye
Who is father of nation?
A. BABA Ramdev
B. Mahatma Gandhi
C. Rahul Gandhi
D. Narendra Modi ji
Enter the option A,B,C,D--b
Badhai ho aapne jeet liye Rs.10100000000
3 prashna aapki screen par yeh raha 20000000000000000 rupee ke liye
Who is GANDU?
A.You
B. Your college
C. Your friends
D. Your Bandi
Enter the option A,B,C,D--c
Galat Jawab gharpe jao
kul rashi 10100000000

In [ ]:
#set is a datatype which is used to store multiplevalue in which all values are unique
#no index position
#combine results of two or more sets
setter={12,13,14,15,16,17}
print("Before changes=>",setter)
setter.add("raj")  #ADD data
setter.remove(12) #remove data
print("After changes=>",setter)

better={1,2,3,4,5,6,}

# to join 2 sets
print("Union:", setter.union(better))
# to find common elements
print("Intersection:", setter.intersection(better))
# to check if sets have no common elements
print("Is disjoint:", setter.isdisjoint(better))
# to check if a set is a superset of another
print("Is superset:", setter.issuperset(better))
# to find the difference between sets
print("Difference:", setter.difference(better))

Before changes=> {16, 17, 12, 13, 14, 15}
After changes=> {16, 17, 'raj', 13, 14, 15}
Union: {1, 2, 3, 4, 5, 6, 13, 14, 15, 16, 17, 'raj'}
Intersection: set()
Is disjoint: True
Is superset: False
Difference: {13, 14, 15, 16, 17, 'raj'}

In [ ]:
#list comprehensionis used to complete the process in one line
#if we want to store the squares in list we do like
newlist=[]
for i in range(1,8):
  newlist.append(i**2)
print(newlist)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
[i**2 for i in range(1,8)]    #list comprehension

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#dictionary coprehension
{i:i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

ASSIGNMENT-4 - create a program
when you give ur insta Username and password
it should open your browser and instagram.com and then autofill the required fields and then login



Selenium is a framework work with python to automate anything with athe browser

# Task
Explain the error in the provided Python code, fix it, and then upload the corrected code to a specified GitHub repository.

## Install `git`

### Subtask:
Install the Git command-line tool in the Colab environment.

**Reasoning**:
Install the Git command-line tool using apt-get in the Colab environment.

In [ ]:
!apt-get update
!apt-get install git

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:9 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,092 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,078 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,262 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,566 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [4,933 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,410 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,752 kB]
Fetched 26.5 MB in 3s (9,229 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.12).
0 upgraded, 0 newly installed, 0 to remove and 51 not upgraded.

## Configure git

### Subtask:
Set up your Git username and email for committing changes.

**Reasoning**:
Configure the Git username and email for committing changes and then verify the configuration.

In [3]:
!git config --global user.name "deveshkumawat258"
!git config --global user.email "tigerzk258@gmail.com"
!git config --list

filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
user.name=deveshkumawat258
user.email=tigerzk258@gmail.com

## Clone the repository

### Subtask:
Clone your existing GitHub repository to the Colab environment. If you don't have one, you'll need to create one on GitHub first.

**Reasoning**:
Use the git clone command to clone the GitHub repository into the Colab environment.

In [4]:
!git clone https://github.com/deveshkumawat258/pythonwork

Cloning into 'pythonwork'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (3/3), done.

## Clone the repository

### Subtask:
Clone your existing GitHub repository to the Colab environment.

## Summary:

### Data Analysis Key Findings

*   The initial attempt to clone the repository failed because a placeholder URL was used instead of a valid GitHub repository URL.
*   Due to the absence of the correct repository URL and the inability to ask for it, the repository cloning task could not be completed.

### Insights or Next Steps

*   Provide the actual GitHub repository URL to successfully clone the repository and proceed with the task.

In [5]:
# Replace with your actual repository name
repository_name = "pythonwork"
notebook_name = "Untitled0.ipynb" # Replace with the actual notebook name

# Change directory to your cloned repository
%cd {repository_name}

# Add the notebook to the staging area
!git add {notebook_name}

# Commit the changes
!git commit -m "Add notebook"

# Push the changes to the remote repository (assuming the default branch is main)
!git push origin main

/content/pythonwork
fatal: pathspec 'Untitled0.ipynb' did not match any files
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean
fatal: could not read Username for 'https://github.com': No such device or address